<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5 class='my-2'>Taller Mecánico El Tuercas</h5>
        <p>Dirección: 123 Calle Principal, Ciudad</p>
        <p>Email: info@tallermecanico.com</p>
        <p>Teléfono: +123 456 789</p>
      </div>
      <div class="col-md-6">
        <h5>Enlaces</h5>
        <ul class="list-unstyled">
          <li>
            <%= link_to 'Inicio', root_path %>
          </li>
          <li>
            <%= link_to 'Sobre nosotros', about_path %>
          </li>
          <li>
            <%= link_to 'Contacto', new_contact_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
