<h1>Contacto</h1>

<div class="mt-4">
  <p class="lead">¿Tienes alguna pregunta o necesitas ayuda con tu vehículo? ¡Estamos aquí para ayudarte! No dudes en ponerte en contacto con nosotros para programar una cita o hacer cualquier consulta.</p>
</div>

<%= render "form", contact: @contact %>
