<h1>Editing reparation</h1>

<%= render "form", reparation: @reparation %>

<br>

<div>
  <%= link_to "Show this reparation", @reparation %> |
  <%= link_to "Back to reparations", reparations_path %>
</div>
